<nlog:nlog xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" >
  <nlog:variable name="logDirectory" value="D:\\logfiles\\ADCST\\" xmlns=" http://www.nlog-project.org/schemas/NLog.xsd" />
  <nlog:extensions />
  <nlog:targets>
    <nlog:target name="console" xsi:type="Console" layout="${longdate} ${level:uppercase=true:padding=-5} ${message} ${exception:format=tostring}" />
    <nlog:target name="logging" xsi:type="File" filename="${logDirectory}\\ADCST.${shortdate}.log" header="${longdate} ************************ Logging started ************************"
         footer="${longdate} ************************ Shutdown ************************"
         layout="${longdate} | UTC: ${longdate:universalTime=true} | ${level:uppercase=true:padding=-5} | ${threadid:padding=5} | ${message} | ${exception:format=tostring}" />
    <nlog:target name="trace" xsi:type="File" filename="${logDirectory}\\ADCST.Trace.${shortdate}.log" header="${longdate} ************************ Logging started ************************"
         footer="${longdate} ************************ Shutdown ************************"
         layout="${longdate} | UTC: ${longdate:universalTime=true} | ${level:uppercase=true:padding=-5} | ${threadid:padding=5} | ${message} | ${exception:format=tostring}" />
    <nlog:target name="eventLog" xsi:type="EventLog" source="Pacioli.MessageProcessor"
         layout="${longdate} | ${level:uppercase=true:padding=-5} | ${threadid:padding=5} | ${message} | ${exception:format=tostring}" />
    <nlog:target name="debug" xsi:type="File" filename="${logDirectory}\\ADCST.Debug.${shortdate}.log" header="${longdate} ************************ Logging started ************************"
         footer="${longdate} ************************ Shutdown ************************"
         layout="${longdate} | UTC: ${longdate:universalTime=true} | ${level:uppercase=true:padding=-5} | ${threadid:padding=5} | ${message} | ${exception:format=tostring}" />
    <nlog:target name="warn" xsi:type="File" filename="${logDirectory}\\ADCST.Warn.${shortdate}.log" header="${longdate} ************************ Logging started ************************"
         footer="${longdate} ************************ Shutdown ************************"
         layout="${longdate} | UTC: ${longdate:universalTime=true} | ${level:uppercase=true:padding=-5} | ${threadid:padding=5} | ${message} | ${exception:format=tostring}" />
    <nlog:target name="info" xsi:type="File" filename="${logDirectory}\\ADCST.Info.${shortdate}.log" header="${longdate} ************************ Logging started ************************"
         footer="${longdate} ************************ Shutdown ************************"
         layout="${longdate} | UTC: ${longdate:universalTime=true} | ${level:uppercase=true:padding=-5} | ${threadid:padding=5} | ${message} | ${exception:format=tostring}" />
    <nlog:target name="error" xsi:type="File" filename="${logDirectory}\\ADCST.Error.${shortdate}.log" header="${longdate} ************************ Logging started ************************"
         footer="${longdate} ************************ Shutdown ************************"
         layout="${longdate} | UTC: ${longdate:universalTime=true} | ${level:uppercase=true:padding=-5} | ${threadid:padding=5} | ${message} | ${exception:format=tostring}" />
  </nlog:targets>
  <nlog:rules>
    <nlog:logger name="*" minLevel="Info" writeTo="Console" />
    <nlog:logger name="*" level="Trace" writeTo="trace" />
    <nlog:logger name="*" levels="Info, Warn, Error" writeTo="logging" />
    <nlog:logger name="*" level="Debug" writeTo="debug" />
    <nlog:logger name="*" level="Info" writeTo="info" />
    <nlog:logger name="*" level="Warn" writeTo="warn" />
    <nlog:logger name="*" level="Error" writeTo="error" />
    <nlog:logger name="*" minLevel="Error" writeTo="eventLog" />
  </nlog:rules>
</nlog:nlog>
